{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block main_body %}
<!-- <meta http-equiv="refresh" content ="1"> -->
<div class="container" id="search-result">
	<div class="row">
		<form id="ride" method='get' id="search" action='/ridesharing/ridesearch/'>	
		<fieldset class="form-group col-md-3 col-md-offset-2">		
		    <input type="text" class="form-control" id="origin" name="origin" value="{{ origin|title }}" placeholder="Choose Starting Point">
		</fieldset>
		<fieldset class="form-group col-md-3">		
		    <input type="text" class="form-control" id="destination" value="{{ destination|title }}" name="destination" placeholder="Choose Destination">			
		</fieldset>
			<button type="submit" class="btn btn-success col-xs-12 col-md-2">Search For a Drive</button>
		</form>							
	</div>
	<div class="row">
		<div class="col-md-3">
			<h4 class="section-heading">
			{% if origin %}
			<span class="glyphicon glyphicon-map-marker origin-marker"></span>{{ origin|title }}
			{% endif %}
			{% if origin and destination %}
				→
				{% endif %}
			{% if destination %}
			<span class="glyphicon glyphicon-map-marker destination-marker"></span>{{ destination|title }}</h4>
			{% endif %}
		</div>
		{% if distance %}
		<div class="col-md-9 bb"><h4 class="section-heading">Approximately {{ distance }} Kms</h4></div>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-12 hidden-xs" id = "filter-panel">
			<h4>Filter Panel</h4>
			<form>
				<p>Price</p>
				<div id="slider-range1"></div><br>
				<p>Departure Date</p>
				<div id="slider-range2"></div><br>
				<p>Driving Experience</p>
				<input type="radio" name="driving" value="ex" checked>Exprienced<br>
				<input type="radio" name="driving" value="mo">Moderate<br>
				<input type="radio" name="driving" value="be">Beginner<br><br>
				<p>Car Comfort</p>
				<input type="radio" name="car-condtion" value="ba" checked>Basic<br>
				<input type="radio" name="car-condtion" value="no">Normal<br>
				<input type="radio" name="car-condtion" value="co">Comfortable<br> 
				<input type="radio" name="car-condtion" value="lu">Luxuary<br>
			</form>
		</div>
		<div class="col-md-9 col-sm-12 col-xs-12 search-result">
			{% for result in Search_Result %}
			<div class="col-md-12 col-xs-12 col-sm-12 indi-result">				
				<div class="col-md-4 col-sm-4 col-xs-4" >
					<div class="row">
						<div class="col-md-6">	
							<img  class ="search-pic" src="{{ MEDIA_URL }}{{ result.image }}">
						</div>
						<h5 class="search-user-name">{{ result.host_name }}</h5>
						<p class="search-user-title"></p>
						{% if result.age %}
						<p class="search-user-age">Age: {{ result.age }}</p>
						{% endif %}
						{% for x in result.user_rating %}
						<span class="glyphicon glyphicon-star golden"></span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-5 col-sm-4 col-xs-4">
					<div class="row">
						<h4 class="search-result-date">{{ result.datetime }}</h4>
						<h5><!-- Starting From : --><span class="glyphicon glyphicon-map-marker origin-marker"></span>{{ result.origin|title }}</h5>
						<h5><!-- Ending At  --><span class="glyphicon glyphicon-map-marker destination-marker"></span>{{ result.destination|title }}</h5>
						
					</div>
					<div class="row">
						{% if result.car %}
						<p>Car: {{ result.make }} {{ result.car }}</p>
						{% endif %}
						{% for i in result.trans_rating %}
							<span class="glyphicon glyphicon-star golden"></span>
						{% endfor %}					
					</div>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3">
					<div class="row">
						<div class="col-md-6 col-xs-6 col-sm-6" align="center"><h2>{{ result.seats }}</h2>Are Available</div>
						<div class="col-md-6 col-xs-6 col-sm-6 normal-average-price
						" align="center"><h2>₹{{ result.rate }}</h2>Per Co-Traveller</div>
						<div class="col-md-6 col-xs-6 col-sm-6"  style="display: none;" align="center"><h2>₹{{ result.rate }}</h2>Per Co-Traveller</div>			
						<div class="col-md-6 col-xs-6 col-sm-6"  style="display: none;" align="center"><h2>₹{{ result.rate }}</h2>Per Co-Traveller</div>
						<div class="col-md-6 col-xs-6 col-sm-6"  style="display: none;" align="center"><h2>₹{{ result.rate }}</h2>Per Co-Traveller</div>			
					</div>
					{% if origin and destination %}					
					<a href="/ridesharing/rides/{{ result.url }}/{{ origin }}/{{ destination }}/"><button class="btn btn-primary choose col-md-12" formaction="{{ result.url }}"> Choose</button></a>		
		
					{% elif origin %}				
					<a href="/ridesharing/rides/{{ result.url }}/{{ origin }}/blank/"><button class="btn btn-primary choose col-md-12" formaction="{{ result.url }}"> Choose</button></a>		
				
					{% elif destination %}
			
					<a href="/ridesharing/rides/{{ result.url }}/blank/{{ destination }}/"><button class="btn btn-primary choose col-md-12" formaction="{{ result.url }}"> Choose</button></a>
					{% else %}
					<a href="/ridesharing/rides/{{ result.url }}/blank/blank/"><button class="btn btn-primary choose col-md-12" formaction="{{ result.url }}"> Choose</button></a>	
					{% endif %}
				</div>
			</div>
			{% empty %}
				<h3>Sorry No Rides Are Available</h3>
			{% endfor %}
		</div>	
	</div>
	</div>
</div>
{% endblock %}
			

				

			
	
		
					




										
					
